<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ANS Uploader</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
    </head>
    <body>
        <div>
            <div>
                <h1>ANS 업로더</h1>
                <div>
                    <form id="slider" action="" method="post" enctype="multipart/form-data">

                    <label onformdata="ans_account">계정 이름</label>
                    <input type="text" id="ans_account" name="ans_account" required><br>
                    <h2>웹 슬라이드(1920 : 1280)</h2>
                    {% for i in range(1, 5) %}
                        <div>
                            <input type="file" id="slide{{ i }}" name="slide{{ i }}">
                        </div>
                    {% endfor %}
                    <div>
                        <h2>모바일 슬라이드(1920 : 2880)</h2>
                    </div>
                    {% for i in range(5,9) %}
                        <div>
                            <input type="file" id="slide{{ i }}" name="slide{{ i }}">
                        </div>
                    {% endfor %}

                    <div>
                        <h2>프로필 사진</h2>
                    </div>

                    <div>
                        <input type="file" id="profile" name="profile">
                    </div>

                        <div>
                        <h2>어바웃미 내용</h2>
                    </div>

                    <div>
                        <textarea id="aboutme" name="aboutme" rows="25" cols="50"></textarea>
                    </div>

                    <div>
                        <h2>포트폴리오</h2>
                    </div>
                    <div>
                        <input type="file" id="portfolio" name="portfolio">
                    </div>
                    <div>
                        <h2>포트폴리오 번호</h2>
                    </div>
                        <input type="text" id="portnum" name="portnum">
                    <div>
                    <div>
                        <h2>포트폴리오 내용</h2>
                        <textarea id="portcont" name="portcont" rows="25" cols="50"></textarea>
                    </div>

                    <button type="submit" name="action" value="anssubmit">올려버렷</button>
                    </form>

                </div>
            </div>

        </div>
    </body>
</html>
